<%= render :partial => 'shared/devise_header' %>
<div class='container'>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <div id='legend'>
      <legend class=''>Sign up</legend>
    </div>
    <%= devise_error_messages! %>

    <div class='control-group'>
      <%= f.label :email, :class => 'control-label' %>
      <div class='controls'>
        <%= f.email_field :email, :class => 'input-xlarge' %>
      </div>
    </div>

    <div class='control-group'>
      <%= f.label :first_name, :class => 'control-label' %>
      <div class='controls'>
        <%= f.text_field :first_name, :class => 'input-xlarge' %>
      </div>
    </div>

    <div class='control-group'>
      <%= f.label :last_name, :class => 'control-label' %>
      <div class='controls'>
        <%= f.text_field :last_name, :class => 'input-xlarge' %>
      </div>
    </div>

    <div class='control-group'>
      <%= f.label :wmata_key, :class => 'control-label' %>
      <div class='controls'>
        <%= f.text_field :wmata_key, :class => 'input-xlarge' %>
      </div>
    </div>

    <div class='control-group'>
      <%= f.label :password, :class => 'control-label' %>
      <div class='controls'>
        <%= f.password_field :password, :class => 'input-xlarge' %>
      </div>
    </div>
    
    <div class='control-group'>
      <%= f.label :password_confirmation, :class => 'control-label' %>
      <div class='controls'>
        <%= f.password_field :password_confirmation, :class => 'input-xlarge' %>
      </div>
    </div>

    <div class='control-group'>
      <div class='controls'><%= f.submit "Sign up", :class=>'btn btn-primary' %></div>
    </div>
  <% end %>
</div>
