<label>Monday-Thursday Opening &amp; Closing</label>
<div class='control-group controls-row'>
  <div class='span3 form-horizontal'>
    <div class="input-append bootstrap-timepicker-component">
      <%= screen.label :monday_thursday_opening, 'Opening ', :class => 'control-label' %>
      <%= screen.text_field :monday_thursday_opening, :value => screen.object.monday_thursday_opening, :class => 'timepicker-default input-small' %>
      <span class="add-on">
        <i class="icon-time"></i>
      </span>
    </div>
  </div>

  <div class='span3 form-horizontal'>
    <div class="input-append bootstrap-timepicker-component">
      <%= screen.label :monday_thursday_closing, 'Closing ', :class => 'control-label' %>
      <%= screen.text_field :monday_thursday_closing, :value => screen.object.monday_thursday_closing, :class => 'timepicker-default input-small' %>
      <span class="add-on">
        <i class="icon-time"></i>
      </span>
    </div>
  </div>
</div>

<label>Friday Opening &amp; Closing</label>
<div class='control-group controls-row'>
  <div class='span3 form-horizontal'>
    <div class="input-append bootstrap-timepicker-component">
      <%= screen.label :friday_opening, 'Opening ', :class => 'control-label' %>
      <%= screen.text_field :friday_opening, :value => screen.object.friday_opening, :class => 'timepicker-default input-small' %>
      <span class="add-on">
        <i class="icon-time"></i>
      </span>
    </div>
  </div>

  <div class='span3 form-horizontal'>
    <div class="input-append bootstrap-timepicker-component">
      <%= screen.label :friday_closing, 'Closing ', :class => 'control-label' %>
      <%= screen.text_field :friday_closing, :value => screen.object.friday_closing, :class => 'timepicker-default input-small' %>
      <span class="add-on">
        <i class="icon-time"></i>
      </span>
    </div>
  </div>
</div>

<label>Saturday Opening &amp; Closing</label>
<div class='control-group controls-row'>
  <div class='span3 form-horizontal'>
    <div class="input-append bootstrap-timepicker-component">
      <%= screen.label :saturday_opening, 'Opening ', :class => 'control-label' %>
      <%= screen.text_field :saturday_opening, :value => screen.object.saturday_opening,  :class => 'timepicker-default input-small' %>
      <span class="add-on">
        <i class="icon-time"></i>
      </span>
    </div>
  </div>

  <div class='span3 form-horizontal'>
    <div class="input-append bootstrap-timepicker-component">
      <%= screen.label :saturday_closing, 'Closing ', :class => 'control-label' %>
      <%= screen.text_field :saturday_closing, :value => screen.object.saturday_closing, :class => 'timepicker-default input-small' %>
      <span class="add-on">
        <i class="icon-time"></i>
      </span>
    </div>
  </div>
</div>

<label>Sunday Opening &amp; Closing</label>
<div class='control-group controls-row'>
  <div class='span3 form-horizontal'>
    <div class="input-append bootstrap-timepicker-component">
      <%= screen.label :sunday_opening, 'Opening ', :class => 'control-label' %>
      <%= screen.text_field :sunday_opening, :value => screen.object.sunday_opening, :class => 'timepicker-default input-small' %>
      <span class="add-on">
        <i class="icon-time"></i>
      </span>
    </div>
  </div>

  <div class='span3 form-horizontal'>
    <div class="input-append bootstrap-timepicker-component">
      <%= screen.label :sunday_closing, 'Closing ', :class => 'control-label' %>
      <%= screen.text_field :sunday_closing, :value => screen.object.sunday_closing, :class => 'timepicker-default input-small' %>
      <span class="add-on">
        <i class="icon-time"></i>
      </span>
    </div>
  </div>
</div>
