<%= nested_form_for @screen, :html => {:class => 'form'} do |screen| %>
  <fieldset>

    <div class='control-group'>
      <%= screen.label :name, :class => 'control-label pull-left' %>
      <div class='controls'>
        <%= screen.text_field :name, :class => 'input-block-level', 'placeholder' => 'Screen Name' %>
      </div>
    </div>

    <%= render :partial => 'screen_form_times', :locals => {:screen => screen} %>

    <h4>Custom Blocks</h4>
    <%= screen.fields_for :blocks, :wrapper => false do |block| %>
      <%= render :partial => 'block_fields', :locals => {:block => block} %>
    <% end %>
    <div class='control-group'>
      <%= screen.link_to_add '+ Add Block', :blocks, :class => 'btn btn-primary' %>
    </div>

    <div class='control-group'>
      <div class='controls'><%= screen.submit "Save", :class=>'btn btn-success' %></div>
    </div>

  </fieldset>
<% end %>
