<!DOCTYPE html>
<html>
<head>
  <% screen_show = (params[:controller] == 'screens' && params[:action] == 'show') %>
  <% if screen_show %>
    <title>Transit on Rails - <%= @screen.name %></title>
  <% else %>
    <title>Transit On Rails</title>
  <% end %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= screen_show ? "screen-show total-cols-#{@screen.number_of_columns}" : '' %>'>
  <% unless screen_show %>
    <%= render :partial => 'shared/header' %>
    <%= render :partial => 'shared/alerts' %>
  <% end %>

<%= yield %>

</body>
</html>
